
html {
  font-family: sans-serif; 
  line-height: 1.15; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}



body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
}



article,
aside,
footer,
header,
nav,
section {
  display: block;
}



h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



figcaption,
figure,
main { 
  display: block;
}



figure {
  margin: 1em 40px;
}



hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}



pre {
  font-family: monospace, monospace; 
  font-size: 1em; 
}



a {
  background-color: transparent; 
  -webkit-text-decoration-skip: objects; 
}



a:active,
a:hover {
  outline-width: 0;
}



abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  text-decoration: underline dotted; 
}


b,
strong {
  font-weight: inherit;
}



b,
strong {
  font-weight: bolder;
}



code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}



dfn {
  font-style: italic;
}



mark {
  background-color: #ff0;
  color: #000;
}


small {
  font-size: 80%;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


audio,
video {
  display: inline-block;
}


audio:not([controls]) {
  display: none;
  height: 0;
}



img {
  border-style: none;
}



svg:not(:root) {
  overflow: hidden;
}



button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}



button,
input { 
  overflow: visible;
}



button,
select { 
  text-transform: none;
}



button,
html [type="button"], 
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; 
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}



button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}



fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}



legend {
  box-sizing: border-box; 
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0; 
  white-space: normal; 
}



progress {
  display: inline-block; 
  vertical-align: baseline; 
}



textarea {
  overflow: auto;
}



[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}



[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}



[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}



details, 
menu {
  display: block;
}

 

summary {
  display: list-item;
}



canvas {
  display: inline-block;
}



template {
  display: none;
}



[hidden] {
  display: none;
}

header {position:absolute;top:0;width:100%;height:100px;background:#e6e7e8;border-bottom:1px solid #000;z-index:99; }
header.page-title {background:#fff url(../img/logo.jpg) no-repeat 20px center;background-size:contain;}
header.page-title h1 {background:#000;border-radius:10px;padding:20px 0;width:40%;font-weight:900;text-transform:uppercase;margin:16px auto;font-size:24px;color:#fff;text-align:center;}
#menu {text-align:center;margin:0;padding:0;}
#menu li {display:inline-block;background:#000;border-radius:10px;padding:20px 0;width:40%;font-weight:900;text-transform:uppercase;margin:16px 4%;font-size:24px;transition:all .5s;}
#menu li:hover {background:#fff;}
#menu li:hover a {color:#000;}
#menu li a {color:#fff;text-decoration:none;transition:all .5s;}

.col {float:left;padding:0 80px;box-sizing:border-box;}
.col-2 {width:50%;}

.ms-left {width:100% !important;}
.ms-right {width:0 !important;}
.ms-tableCell {height:calc(100vh - 100px) !important;}
.multiscroll-tooltip {color:#000 !important;text-transform:uppercase;font-size:10px !important;margin:4px 0 0 0 !important;}

img.logo {position:absolute;max-height:70%;top:120px;left:50%;transform:translateX(-50%);}
a.home-link {background:#e6e7e8 !important;position:absolute;bottom:20px;left:50%;transform:translateX(-50%);margin:0 !important;}
a.link {background:#fff;border:2px solid #000;border-radius:10px;padding:20px 60px;text-transform:uppercase;font-weight:900;color:inherit;text-decoration:none;margin:40px auto;display:block;text-align:center;}

.img-interactive {background:url(../img/img-interactive-technology.png) no-repeat center 50px;background-size:contain;}
.img-bodyfacial {background:url(../img/img-body-movements.png) no-repeat center bottom;background-size:contain;}
.img-interactivedesigns {background:url(../img/img-interactive-designs.png) no-repeat center 50px;background-size:contain;}
