#bottom-text {
  font-family: "Arial";
  letter-spacing: -1px;
  font-size: 30px;
  position: absolute;
  top: 550px; 
  left: 10px;
  line-height: 35px;
  letter-spacing: -1px;
}

h1 {
  font-family: "Arial";
  letter-spacing: 60px;
  font-size: 30px;
  position: absolute;
}

#bottom-right-text-1 {
  font-family: "Comic Sans";
  color: red;
  font-size: 11px;
  font-weight: bold;
  letter-spacing:8px;
  line-height: 14px;
  position: absolute;
  top: 450px;
  left: 500px;
}

#bottom-right-text-2 {
  font-family: "Helvetica";
  color: blue;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: -.20px;
  line-height: 10px;
  position: absolute;
  top: 100px;
  left: 105px;
}


#blue-div {
  background-color:yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 320px;
  left: 150px;
}

#black-div {
  background-color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 320px;
  left:200px;
}

#red-div {
  background-color:blue;
  width: 60px;
  height: 60px; 
  position: absolute;
  top: 320px;
  left: 320px;
}

#black-div-2 {
  background-color: green;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 320px;
  left: 405px;

}

#yellow-div {
  background-color:yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 320px;
  left: 505px;
}

#gray-div {
  background-color: #878787;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 170px;
  left: 320px;
}

#gray-div-2 {
  background-color: #878787;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 380px;
  left: 320px;
}


}

p {
  color: white;
  font-size: 15px;
  font-family: "Helvetica Neue";
  position: absolute;
}

#link {
  color: white;
}

a: link-hover {
  color: red;
}
  